.body {
    display: flexbox;
    margin: 0 auto;

}
.container {
width: 1480px;
height: 1282px;
flex-shrink: 0;
margin: 0 auto;

}

.inner-blok {
width: 1480px;
height: 1282px;
background: #FFF;
margin: 0 auto;
}

.header {
width: 1283px;
height: 189px;
flex-shrink: 0;
margin-left: 98px;
}

.header-title {
flex-direction: column;
justify-content: flex-end;
flex-shrink: 0;
margin-bottom: 40px;
}

.title-butom {
    display: inline-block;
    text-decoration: none;
    border: none;
}


.header-title-Ra {
color: #000;
text-align: center;
font-family: Roboto;
font-size: 80px;
font-weight: 400;
text-decoration: none;


}

.header-title-mda-js {
color: #4BCAFF;
font-family: Roboto;
font-size: 80px;
font-weight: 400;
text-decoration: none;


}

.header-title-menu {
    color: #FFF;
    box-sizing: border-box;
    display: flex;
    padding: 32px 0px;
    align-items: center;
    width: 1279.999px;
    height: 69px;
    flex-shrink: 0;
    background-color: #35444F;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.header-title-menu-list {
display: flex;
align-items: center;
gap: 40px;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
text-decoration: none;

}


.header-title-Functional {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #35444F;
    color: #FFF;
    max-width: max-content;
    color: #FFF;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 1px solid #FFF;
    height: 69px;
    padding-left: 20px;

}

.header-title-Functional:hover {
    background-color: #222F3A;
}

.header-title-Ramda {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #35444F;
    color: #FFF;
    max-width: max-content;
    color: #FFF;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 69px;
   border-left: 1px solid #FFF;
   border-right: 1px solid #FFF;
   padding: 0 20px;
}

.header-title-Ramda:hover {
    background-color: #222F3A;
}

.header-title-Fantasy {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #35444F;
    color: #FFF;
    max-width: max-content;
    color: #FFF;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 69px;
}

.header-title-Fantasy:hover {
    background-color: #222F3A;
} 

.header-title-Node {
    box-sizing: border-box;
    text-decoration: none;
    background-color: #35444F;
    color: #FFF;
    max-width: max-content;
    color: #FFF;
    border: none;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;  
    height: 69px;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding: 0 20px;
}

.header-title-Node:hover {
    background-color: #222F3A;
}

.aside-menu {
    box-sizing: border-box;
    width: 344px;
    height: 399px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
    margin-left: 98px;
    margin-top: 100px;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.asied-menu-list {
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;

}

.asidde-menu-list-title {
color: #495863;
font-family: Roboto;
font-size: 27px;
font-style: normal;
font-weight: 400;
line-height: 27px;
box-sizing: border-box;
margin: 0 1px ;
width: 342px;
height: 81px;
flex-shrink: 0;
padding-left: 40px;
padding-top: 25px;
justify-content: center;
flex-direction: column;
}

.asidde-menu-list-title:hover {
    background-color: #DBDBDB;
}

.main {
display: flex;
}


.mine-conteiner {
   box-sizing: border-box;
    width: 885px;
    height: 832px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 52px;
      
}
.top-image-fon {
    box-sizing: border-box;
    width: 885px;
    height: 529px;
    flex-shrink: 0;
    border: 1px solid #000;
    margin-bottom: 37px;
}
.top-image {
    box-sizing: border-box;
    width: 320px;
    height: 381px;
    flex-shrink: 0;
    margin-bottom: 37px;
    background: rgba(0, 0, 0, 0.00);
    margin: 75px 268px 73px 297px;
}

.top-text1 {
color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 24px;
margin-bottom: 13px;
}

.top-text2 {
color: #2C2C2C;
font-family: Roboto;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.footer-menu {
    color: #FFF;
    box-sizing: border-box;
    padding: 32px 0px;
    align-items: center;
    width: 1279.999px;
    height: 69px;
    flex-shrink: 0;
    background: rgba(99, 105, 110, 0.48);
    gap: 40px;
    margin-left: 98px;
    margin-top: 74px;
    display: flex;
   
}

.footer-menu-list {
color: #0C1927;
font-family: Roboto;
font-size: 28px;
font-weight: 400;
line-height: 28px;
padding-left: 40px;
}

.footer-menu-butom {
color: #010101;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 24px;
display: flex;
width: 190px;
height: 69px;
justify-content: center;
flex-shrink: 0;
margin-right: 40px;
}

.footer-menu-and {
color: #010101;
font-family: Roboto;
font-size: 24px;
font-weight: 400;
line-height: 24px;
display: flex;
width: 190px;
height: 69px;
flex-direction: column;
justify-content: center;
inline-size: auto;
flex-shrink: 0;
margin-left: 350px;
border: none;
}

.link-footer {
    text-decoration: none;
}
b:hover {color: #3181A6;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration: underline;

}